<meta charset="UTF-8">
<meta http-equiv="content-type" content="text/html">

<!-- Para que los celulares reporten el tamaño real -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!--
	The below three lines are a fix to get HTML5 semantic elements working
	in old versions of Internet Explorer.

	Desde https://developer.mozilla.org/en-US/docs/Learn/HTML/Introduction_to_HTML/Document_and_website_structure
-->
<!--[if lt IE 9]>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
<![endif]-->

<meta name="author" content="Martín Bernardi">
<meta name="designer" content="Martín Bernardi">
<meta name="publisher" content="Martín Bernardi">
